<!DOCTYPE html>
<html>
<head>
    <title>SpamShield</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-body">

<div class="hero-center">

    <div class="logo-circle">SS</div>
    <h1>SpamShield</h1>

    <h2>Smart Spam Detection System</h2>
    <p>
        Instantly classify messages using Machine Learning.<br>
        Fast, accurate, and reliable spam detection.
    </p>

    <a href="/predict" class="cta-btn">
        Get Started →
    </a>

</div>

</body>
</html>