<!DOCTYPE html>
<html>
<head>
    <title>Spam Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="detect-body">

<div class="card">
    <h1>📩 Spam Detection</h1>

    <form method="POST">
        <textarea name="message" placeholder="Enter your message..." required>{{ message }}</textarea>
        
        <button type="submit">Check Message</button>
    </form>

    {% if prediction %}
        <div class="result-box {{ prediction }}">
            {{ prediction.upper() }}
        </div>
    {% endif %}

    <a href="/" class="back-btn">← Back to Home</a>
</div>

</body>
</html>